snippet \_ "Underbrace" wA
\underbrace{${VISUAL}$1}_{$2}
endsnippet

# TODO: Add better linebreak detection using Python interpolation
# See vimcasts.org/episodes/ultisnips-visual-placeholder and
# vimcasts.org/episodes/ultisnips-python-interpolation
snippet stack "Stackrel" w
\stackrel{$1}{$2}
endsnippet

snippet cases "Cases environment" bA
\begin{dcases}
	$1
\end{dcases}
$0
endsnippet
