# Equation ref snippet
snippet \eqn "Equation ref" wA
\eqnref{$1} $0
endsnippet

# Autoref snippet
# Doesn't expand automatically
snippet ref "Autoref" w
\autoref{$1} $0
endsnippet

snippet nn "Nonumber" wA
\nonumber
endsnippet
