snippet num "Generalized 'number' snippet" w
\SI{$1}{$2}$0
endsnippet

snippet '(\d*\.?\d+)e(-?\d+)' "Scientific notation" wr
\SI{`!p snip.rv = match.group(1)`e`!p snip.rv = match.group(2)`}{$1}$0
endsnippet

snippet '(\d*\.?\d+)u' "Units" wr
\SI{`!p snip.rv = match.group(1)`}{$1}$0
endsnippet
