# vim: filetype=zsh
# vim: syntax=zsh

# export PAGER="most"
# Taken from https://www.reddit.com/r/vim/comments/1l304v/use_vim_as_alternative_to_less/
# LESS options:
# -R = Nicer highlighting
# -x4 = Set tab stops to 4 spaces.
# -F = Don't open with less if entire file fits on screen.
# -R = Output "raw" control characters. (colors)
# -s = Squeeze multiple blank lines.
# -X = Ignore termcap initialization. With xterms it keeps
#        the last page of the document on the screen. (see
#        http://www.shallowsky.com/linux/noaltscreen.html)
export PAGER="less"
export LESS="-x4RFs"

if [ -f "/usr/share/source-highlight/src-hilite-lesspipe.sh" ]; then
    # ubuntu 12.10: sudo apt-get install source-highlight
    export LESSOPEN="| /usr/share/source-highlight/src-hilite-lesspipe.sh %s"
elif [ -f "/usr/bin/src-hilite-lesspipe.sh" ]; then
    # fedora 18: sudo yum install source-highlight
    export LESSOPEN="| /usr/bin/src-hilite-lesspipe.sh %s"
fi

# Special files
export CONFIG="$HOME/.local.config"
export ALIAS="$HOME/.local-aliases.sh"
export INSTALLED="$HOME/.local-install.sh"
export RCRC="$HOME/.rcrc"
export HISTORY="$HOME/.zsh_history"

# oh-my-zsh
export ZSH="$HOME/.oh-my-zsh"

# Reddit
export TUIR_EDITOR="nvim"
export TUIR_BROWSER="w3m"
export TUIR_URLVIEWER="urlscan"

# Default editors
export EDITOR=nvim
export VISUAL=nvim

export PATH="$HOME/.cabal/bin:$PATH"                  # Haskell
export PATH="$HOME/.config/composer/vendor/bin:$PATH" # PHP
export GOPATH="$HOME/go"                              # Go
export PATH="$HOME/go/bin:$PATH"                      # Go

# FZF default
if type rg &> /dev/null; then
    export FZF_DEFAULT_COMMAND='rg --files'
    export FZF_DEFAULT_OPTS='-m --height 50% --border'
fi

# Python (for local modules)
export PYTHONPATH="$HOME/Documents/Python/Utilities:$PYTHONPATH"

# Rubygems and NPM packages
export PATH="$HOME/.gem/ruby/bin:$PATH"
export PATH="$HOME/node_modules:$PATH"

# Rust
export PATH="$HOME/.cargo/bin:$PATH"

# Repos
export PYTHON_REPO="$HOME/Source/python-github"
export PAPIS_LIBRARY="$HOME/Documents/Papis-Imports"
export TEX_REPO="$HOME/texmf/tex/latex/antimike"
export SOURCE_DIR="$HOME/Source"
export DOTFILES="$HOME/.dotfiles"
export SPRING_2021="$HOME/Documents/spring-2021"
export ADMINISTRATIVE="$HOME/Documents/Administrative"
