[submodule "kitty-themes"]
	path = tag-terminal/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "tag-tex/tex/latex/local/local"]
	path = host-netbook/texmf/tex/latex/antimike
	url = https://github.com/antimike/tex
[submodule "tag-qubes/Qubes-docs"]
	path = tag-qubes/Qubes-docs
	url = https://github.com/QubesOS/qubes-doc
