*.swp
repos.json
*.lock
/**/venv/lib/**
/**/venv/lib64
/**/venv/bin/**
/**/venv/lib64
/**/mozilla/firefox/499ynfff.default-release/datareporting/**
/**/mozilla/firefox/499ynfff.default-release/crashes/store.json.mozlz4
/**/cookie
tag-viewers/w3m/cookie
tag-crypto/config/keepassxc/keepassxc.ini
tag-compute/sage/ipython-5.0.0/profile_default/history.sqlite
tag-compute/sage/cache/*
host-netbook/config/coc/list-marketplace-history.json
