# vim: filetype=zsh
# vim: syntax=zsh
# Use this as a repository for local environment vars

source ~/.qubes_agents.sh

INSTALLED=~/.local-install.sh
export ZSH="$HOME/.oh-my-zsh"
#export TUIR_EDITOR="nvim"
#export TUIR_BROWSER="w3m"
#export TUIR_URLVIEWER="urlscan"
export EDITOR=nvim
export VISUAL=nvim

# `deal.ii` aliases
export PATH="/usr/local/lib/dealii-9.2.0:$PATH"
export DEALII_ROOT="/usr/local/lib/dealii-9.2.0"
#export PATH="$HOME/.cabal/bin:$PATH"

# NGSolve
export PATH="/usr/local/lib/ngsolve-install:$PATH"
export NGSOLVE_ROOT="/usr/local/lib/ngsolve-install"
export NGSOLVE_SRC="$HOME/Source/ngsolve-src"
export NGSOLVE_BUILD="$HOME/Source/ngsolve-build"
export NETGENDIR="${NGSOLVE_ROOT}/bin"
export NETGEN_DEMO_DIR="${NGSOLVE_ROOT}/share/netgen"
export NETGEN_TUTORIAL_DIR="$HOME/Source/ngsolve-tutorials"
export PATH=$NETGENDIR:$PATH
export PYTHONPATH=$NETGENDIR/../`python3 -c "from distutils.sysconfig import get_python_lib; print(get_python_lib(1,0,''))"`

# FENICS
export DOLFIN_ROOT="/usr/local/lib/dolfin-install"
export PATH="/usr/local/lib/dolfin-install:$PATH"
export DOLFIN_SRC="$HOME/Source/dolfin/src"
export DOLFIN_BUILD="$HOME/Source/dolfin/build"

# Repos
export PYTHON_REPO="$HOME/Source/Python"
export PAPIS_LIBRARY="$HOME/Documents/Papis-Imports"
export TEX_REPO="$HOME/texmf/tex/latex/local/local"
