# Arrows
snippet -> "Short arrow" wA
\to
endsnippet

snippet => "Implies" wA
\Longrightarrow
endsnippet

snippet iff "Iff" wA
\Longleftrightarrow
endsnippet

snippet --> "Right-arrow" wA
\longrightarrow
endsnippet

snippet <-- "Left arrow" wA
\longleftarrow
endsnippet
