global !p
import sys
sys.path.append('/home/user/Documents/Python/Utilities')
import snippet_utils as utils
endglobal

context "utils.is_math_mode()"
snippet sqrt "Root" iA
\sqrt{$1}$0
endsnippet

context "utils.is_math_mode()"
snippet abs "Absolute value" wA
\abs{$1}$0
endsnippet
