global !p
import os, sys
sys.path.append('{}/Utilities'.format(os.environ["$PYTHON_REPO"]))
import snippet_utils as utils
endglobal

context "utils.is_math_mode(vim)"
snippet sqrt "Root" iA
\sqrt{$1}$0
endsnippet

context "utils.is_math_mode(vim)"
snippet abs "Absolute value" wA
\abs{$1}$0
endsnippet
