global !p
import sys
sys.path.append('/home/user/Documents/Python/Utilities')
import snippet_utils as utils
endglobal

context "utils.is_math_mode()"
snippet exp "Exponential---parens (delimiters can be adjusted)" w
\exp \left( $1 \right) $0
endsnippet
