# Equation ref snippet
snippet \eqn "Equation ref" wA
\eqnref{$1} $0
endsnippet

# Autoref snippet
# Doesn't expand automatically
snippet ref "Autoref" w
\autoref{$1} $0
endsnippet

snippet nn "Nonumber" wA
\nonumber
endsnippet

snippet lb "Label" wA
\label{$1} $0
endsnippet

snippet aref "Autoref (auto-expands)" wA
\autoref{$1} $0
endsnippet

snippet eref "Eqref (auto-expands)" wA
\eqref{$1} $0
endsnippet


snippet tg "Tag" wA
\tag{$1}$0
endsnippet
