global !p
import os, sys
sys.path.append('{}/Utilities'.format(os.environ["PYTHON_REPO"]))
import snippet_utils as utils
endglobal

context "utils.is_math_mode(vim)"
# Infinity
snippet ooo "Infinity" iA
\infty
endsnippet

context "utils.is_math_mode(vim)"
snippet || "Parallel" iA
\parallel
endsnippet

context "utils.is_math_mode(vim)"
snippet _|_ "Perpendicular" iA
\perp
endsnippet
