global !p
import sys
from os import environ
repo = environ['PYTHON_REPO']
sys.path.append('{}/Utilities'.format(repo))
import snippet_utils as utils
endglobal

context "utils.is_math_mode()"
snippet sum "Sum" w
\displaystyle \sum_{$1}^{$2} $0
endsnippet
