global !p
import os, sys
sys.path.append('{}/Utilities'.format(os.environ["$PYTHON_REPO"]))
import snippet_utils as utils
endglobal

context "utils.is_math_mode(vim)"
snippet sum "Sum" w
\displaystyle \sum_{$1}^{$2} $0
endsnippet
