global !p
import sys
sys.path.append('/home/user/Documents/Python/Utilities')
import snippet_utils as utils
endglobal

context "utils.is_math_mode()"
snippet sum "Sum" w
\displaystyle \sum_{$1}^{$2} $0
endsnippet
