# vim: filetype=zsh
# vim: syntax=zsh

# Qubes agents (GPG and SSH)
source ~/.qubes_agents.sh

# Active projects
[[ -n $ACTIVATE_PROJECT ]] && source $ACTIVATE_PROJECT

# File to log installed software 
INSTALLED=~/.local-install.sh

# oh-my-zsh
export ZSH="/home/user/.oh-my-zsh"

# Reddit
export TUIR_EDITOR="nvim"
export TUIR_BROWSER="w3m"
export TUIR_URLVIEWER="urlscan"

# Default editors
export EDITOR=nvim
export VISUAL=nvim

# Java
export JAVA_HOME='/usr/lib/jvm/java-14-openjdk-14.0.2.12-1.rolling.fc31.x86_64'
export PATH=$JAVA_HOME/bin:$PATH

# Haskell
export PATH="$HOME/.cabal/bin:$PATH"

# FZF default
if type rg &> /dev/null; then
    export FZF_DEFAULT_COMMAND='rg --files'
    export FZF_DEFAULT_OPTS='-m --height 50% --border'
fi
#[ -f ~/.fzf.bash ] && source ~/.fzf.bash

# Python (for local modules)
export PYTHONPATH="$HOME/Documents/Python/Utilities:$PYTHONPATH"

# Rubygems and NPM packages
export PATH="/home/user/.gem/ruby/bin:$PATH"
export PATH="/home/user/node_modules:$PATH"

# Rust
export PATH="/home/user/.cargo/bin:$PATH"

# Repos
export PYTHON_REPO="/home/user/Documents/Python"
export PAPIS_LIBRARY="/home/user/Documents/Papis-Imports"
export TEX_REPO="/home/user/texmf/tex/latex/local/local"
export SPRING_2021="/home/user/Documents/Spring-2021"
export ADMINISTRATIVE="/home/user/Administrative"
export WIKI="/home/user/Documents/Wiki"
export BASH_REPO="/home/user/Documents/Bash"
export SOURCE_DIR="/home/user/Source"

# Projects
export REGEX_DICT_ROOT=$SOURCE_DIR/regex-dict
export CITATION_SCRAPER_ROOT=$SOURCE_DIR/citation-scraper

# TMSU (virtual tag-based filesystem)
export TMSU_DB=$PAPIS_LIBRARY/.tmsu/db
