# vim: filetype=zsh
# vim: syntax=zsh

# Qubes agents (GPG and SSH)
source ~/.qubes_agents.sh

# Active projects
[[ -n $ACTIVATE_PROJECT ]] && source $ACTIVATE_PROJECT

# oh-my-zsh
export ZSH="$HOME/.oh-my-zsh"

# Pager: less
export PAGER="less"

# Git diff viewer
export FORGIT_PAGER="delta"
export GIT_PAGER="less"

# Reddit
export TUIR_EDITOR="nvim"
export TUIR_BROWSER="w3m"
export TUIR_URLVIEWER="urlscan"

# Default editors
export EDITOR=nvim
export VISUAL=nvim

# McFly (terminal history viewer / search)
export MCFLY_KEY_SCHEME=vim
export MCFLY_FUZZY=true

# Java
export JAVA_HOME='/usr/lib/jvm/java-14-openjdk-14.0.2.12-1.rolling.fc31.x86_64'
export PATH=$JAVA_HOME/bin:$PATH

# Golang
export GO_VERSION="1.16.5"
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$PATH

# Haskell
export PATH="$HOME/.cabal/bin:$PATH"

# FZF default
if type rg &> /dev/null; then
    export FZF_DEFAULT_COMMAND='rg --files'
    export FZF_DEFAULT_OPTS='-m --height 50% --border'
fi
#[ -f ~/.fzf.bash ] && source ~/.fzf.bash

# Python (for local modules)
export PYTHONPATH="$HOME/Documents/Python/Utilities:$PYTHONPATH"

# Rubygems and NPM packages
export PATH="$HOME/.gem/ruby/bin:$PATH"
export PATH="$HOME/node_modules:$PATH"

# Rust
export PATH="$HOME/.cargo/bin:$PATH"

# Repos
export PYTHON_REPO="$HOME/Documents/Python"
export PAPIS_LIBRARY="$HOME/Documents/Papis-Imports"
export TEX_REPO="$HOME/texmf/tex/latex/local/local"
export SPRING_2021="$HOME/Documents/Spring-2021"
export ADMINISTRATIVE="$HOME/Administrative"
export WIKI="$HOME/Documents/Wiki"
export BASH_REPO="$HOME/Documents/Bash"
export SOURCE_DIR="$HOME/Source"
export DOTFILES="$HOME/.dotfiles"

# Special files
export CONFIG="$HOME/.local.config"
export ALIAS="$HOME/.local-aliases.sh"
export INSTALLED="$HOME/.local-install.sh"
export RCRC="$HOME/.rcrc"
export HISTORY="$HOME/.zsh_history"
export ZSHRC="$HOME/.zshrc"

# Projects
export REGEX_DICT_ROOT=$SOURCE_DIR/regex-dict
export CITATION_SCRAPER_ROOT=$SOURCE_DIR/citation-scraper

# TMSU (virtual tag-based filesystem)
export TMSU_DB=$PAPIS_LIBRARY/.tmsu/db

# git-fuzzy
export PATH="$SOURCE_DIR/git-fuzzy/bin:$PATH"

